<div class="employee-card" id="emp<%= e.id %>">
  <div>
    <div class="employee-name"><strong><%= e.name %></strong></div>
    <div class="employee-address"><%= e.address %></div>
  </div>

  <div>
    <a href='#' data-toggle="modal" data-target='<%= "#editModal#{e.id}" %>'>EDIT</a>

    <%= link_to "DELETE", employee_path(e),
      method: :delete,
      remote: true,

      data: { confirm: "Are you sure?" } %>
      <%= render "edit_modal", e: e %>
  </div>
  <hr>
</div>
