<div class="employee-card" id="<%= @e.id %>">
  <div>
    <div class="employee-name"><%= @e.name %></div>
    <div class="employee-address"><%= @e.address %></div>
  </div>

  <div class="row">
    <button type="button" class="btn-carat-add" data-toggle="modal" data-target='<%= "#editModal#{@e.id}" %>'> EDIT </button>

    <%= link_to "DELETE", employee_path(e),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn-carat-delete" %>
  </div>
    <%= render "edit_modal", e: @e %>
</div>
