<div class="dashboard-container">

  <div class="col-sm-4">
    <div class="column-padding">
      <div>
        <h3><%= @user.company_name %></h3>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%= @user.address %>
        </p>
        <p>
          <i class="fas fa-envelope"></i>
          <%= @user.email %>
        </p>
      </div>

      <div class="text-center">
        <button type="button" class="btn-carat-regular" data-toggle="modal" data-target="#uploadModal"> UPLOAD CSV </button> <%= render "upload_modal" %>
        <div id="hider" class="<%= @employees.present? ? '' : 'hide' %>">
        <%= link_to "CALCULATE", rewards_path, class: "btn-carat-go" %>
        </div>
      </div>
      <hr>
  <!--   need to have different views here for login or not login-->
      <div>
        <!-- Button trigger modal -->
        <h3 class="heading-flex">
          <span>Employees</span>
          <button type="button" class="btn-carat-add" data-toggle="modal" data-target="#addModal"> + </button>
        </h3>
        <%= render "add_modal" %>
        <div id="employee-list">
          <% @employees.each do |e| %>
            <%= render 'employee_card', e: e %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-8 no-padding">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>

<button id="init-map" class="hide">
  map
</button>

<script>
  <% if current_user.employees.where.not(latitude: nil).any? && params[:route] == 'true' %>
    <% @route = Route.new(current_user) %>
    setTimeout(_ => {
      window.map.drawRoute({
        origin: <%= raw(@route.origin.to_json) %>,
        // origin: <%= raw(@route.origin.to_json) %>,
        // destination: 'Ipanema, WeWork',
        destination: <%= raw(@route.destination.to_json) %>,
        waypoints: <%= raw(@route.waypoints.to_json) %>,
        travelMode: 'driving',
        strokeColor: '#131540',
        strokeOpacity: 0.6,
        optimizeWaypoints: true,
        strokeWeight: 6
      });
    }, 2000)
  <% end %>
</script>
